.main {
  color: white;
  min-height: 100vh;
  padding: 0px 160px 160px 140px;
  font-family: "OCR A Std", monospace;
}

.main p {
  font-size: 20px;
}

.top-section{
  background-color: rgb(25, 25, 25);
  position: relative;
  top: -320px;
  width: 100vw;
  margin-bottom: -250px;
}

.main,
.roadmap,
#video-welcome,
.top-section-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roadmap{
  text-align: center;;
  width: 70%;
}

.roadmap h3{
  margin-top: 40px;
  margin-bottom: 0;
}

.main > h1 {
  margin: 0;
  position: absolute;
  top: 160px;
  color: #7c00f7;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  font-size: 90px;
  text-shadow: 4px 4px 0 #ff6523;
}

.intro-p{
  font-family: "OCR A Std", monospace;
  position: relative;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #7c00f7;
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 2px 2px 0 #ff6523;
}


#video-welcome{
  width: 100vw;
  overflow:hidden;
}

.top-section-inner{
  padding: 0 140px 0 140px;
}

.first{
  font-size: 30px;
  font-weight: bold;
}

