.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-size: 20px;
}
.team {
  border: 2px dotted;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), #7c00f7, #ff7723)
    2 45%;
  border-radius: 5px;
}

.team h1 {
  margin-bottom: 75px;
}

.table-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 600px;
}

.team .left-side {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team .right-side {
  width: 60%;
  margin-top: 150px;
}

.team img {
  width: 95%;
  border-radius: 50%;
  box-shadow: 7px -7px #7c00f7;
}

.avatar {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
