h3,
p {
  line-height: 1.5em;
}

.main {
  min-height: 100vh;
  /* padding: 0px 160px 160px 140px; */
}

.main p {
  font-size: 20px;
}

.ani {
  position: relative;
  /* left:0; */
  /* top: 190vh; */
  width: 99vw;
  /* height: 140vh; */
}

.ani-container {
  position: relative;
}

.top-section {
  border-top: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ff7723, #d53a9d);
  background-image: linear-gradient(to bottom, rgba(25,25,25,1),rgba(25,25,25,1),rgba(25,25,25,1),rgba(25,25,25,0));
  /* background-color: rgb(25, 25, 25); */
  position: relative;
  top: -23.5vw;
  width: 100vw;
  margin-bottom: -250px;
}

.main,
.roadmap,
#video-welcome,
.top-section-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roadmap {
  text-align: center;
  width: 58%;
}

.main {
  border: 2px dotted;
  border-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.6),
      #ff7723,
      #7c00f7
    )
    2 45%;
  border-radius: 5px;
}

.roadmap h3 {
  margin-top: 40px;
  margin-bottom: 0;
}

.main > h1 {
  margin: 0;
  position: absolute;
  top: 160px;
  color: #7c00f7;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  font-size: 90px;
  text-shadow: 4px 4px 3px #ff7723;
}

.intro-p {
  font-family: "OCR A Std", monospace;
  position: relative;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #7c00f7;
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 2px 2px 0 #ff7723;
}

#video-welcome {
  width: 100vw;
  overflow: hidden;
  border-top: 0.5px solid #7c00f7;
}

.top-section-inner {
  padding: 0 140px 0 140px;
}

.first {
  font-size: 30px;
  font-weight: bold;
}
