body {
  line-height: 1.5em;
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 100vh;
  color: rgb(220, 220, 220);
  font-family: "OCR A Std", monospace;
  /* letter-spacing: 0.1em; */
  overflow-x: hidden;
}

p {
  /* text-decoration-color: rgb(60, 60, 60); */
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-decoration-color: rgba(124, 0, 247, 0.5);
}
