body {
  line-height: 1.5em;
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 100vh;
  color: white;
  font-family: "OCR A Std", monospace;
  /* letter-spacing: 0.1em; */
}

p {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #7c00f7;
  text-decoration-thickness: 1px;
}
